name: Build and Publish AMI

on:
  push:
    branches:
      - main

jobs:
  build-ami:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Packer
        run: |
          wget https://releases.hashicorp.com/packer/1.7.6/packer_1.7.6_linux_amd64.zip
          unzip packer_1.7.6_linux_amd64.zip
          sudo mv packer /usr/local/bin/
        if: success()

      - name: Initialize Packer
        run: packer init .
        # Add this step to explicitly initialize Packer

      - name: Verify Packer Version
        run: packer version
        # Add this step to confirm the Packer version

      - name: Build AMI
        run: |
          packer build .
          packer validate packer_build.pkr.hcl
          packer validate packer_build1.pkr.hcl
          packer build packer_build.pkr.hcl
          packer build packer_build1.pkr.hcl
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        if: success()
