name: Build and Publish AMI

on:
  push:
    branches:
      - main

jobs:
  build-ami:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Packer
        run: |
          wget https://releases.hashicorp.com/packer/1.7.6/packer_1.7.6_linux_amd64.zip
          unzip packer_1.7.6_linux_amd64.zip
          sudo mv packer /usr/local/bin/
        if: success()

      - name: Initialize Packer
        run: packer init .
        # Add this step to explicitly initialize Packer

      - name: Verify Packer Version
        run: packer version
        ## Add this step to confirm the Packer version

      - name: Extract AMI Name from Packer Config
        id: extract_ami_name
        run: |
          AMI_NAME=$(grep -oP 'ami_name\s*=\s*"\K[^"]+' packer_build.pkr.hcl)
          echo "::set-output name=ami_name::$AMI_NAME"

      - name: Check if AMI exists
        id: ami_check
        run: |
          region="ap-south-1"
          your_account_id="580272304833"
          ami_name="${{ steps.extract_ami_name.outputs.ami_name }}"
          ami_list=$(aws ec2 describe-images \
            --region $region \
            --owners $your_account_id \
            --filters "Name=name,Values=$ami_name" \
            --query 'Images[*].[ImageId]' \
            --output text)
          if [[ -n "$ami_list" ]]; then
            echo "AMI with name $ami_name already exists. Exiting gracefully."
            echo "AMI check outcome: success"
            exit 0
          fi
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Build AMI
        run: |
          packer validate packer_build.pkr.hcl
          packer build packer_build.pkr.hcl
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        if: steps.ami_check.outcome != 'success'
